html,
body {
    width: 100%;
    height: 100%;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(237, 237, 237); */
    height: 10%;
    width: 100%;
    margin-bottom: 10px;
}

form {
    width: 32rem;
    height: 2.7rem;
    display: flex;
    box-shadow: 0 0.2rem 3px 0 rgb(224, 224, 224);
    border: 1px solid rgb(218, 218, 218);
    padding: 0;
    /* box-sizing: content-box; */
    /* border-radius: 3px; */
}

.search-icon {
    width: 10%;
    /* background-color: rgb(224, 224, 224); */
    border-right: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon svg {
    height: 1.2rem;
    width: auto;
    fill: #aaa;
}

#cin {
    width: 70%;
    border-radius: 0;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: lighter;
    color: rgb(135, 135, 135);
    padding-left: 0.6rem;
}

#cin::placeholder {
    color: rgb(216, 216, 216);
}

#submit {
    width: 20%;
    outline: none;
    border: none;
    border-radius: 0;
    background-color: #0f9660;
    color: white;
    font-weight: bold;
}

#submit:active {
    filter: brightness(1.1);
}

.tables {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80%;
    width: 100%;
    /* background-color: rgb(255, 183, 183); */
}

.info {
    width: 100%;
    height: 30%;
    /* background-color: rgba(0, 0, 255, 0.3); */
}

.inscri {
    width: 100%;
    height: 30%;
    /* background-color: rgba(0, 0, 255, 0.3); */
}

.logs {
    width: 100%;
    height: 30%;
    /* background-color: rgba(0, 0, 255, 0.3); */
}




.info {
    border-radius: 15px;
    box-shadow: 0 0 8px 0px rgb(197, 197, 197);
    display: flex;
    justify-content: center;
    overflow: auto;
    scrollbar-width: thin;
    width: 80%;
    height: 30%;
    /* background-color: rgba(0, 0, 0, 0.3); */
}

.info table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
}

.info table td,
.info table th {
    padding: 0 1rem;
}

.info table thead {
    height: 50%;
    background-color: #3388ff;
    color: black;
}

.info table tbody {
    background-color: white;
}



.inscri {
    border-radius: 15px;
    box-shadow: 0 0 8px 0px rgb(197, 197, 197);
    display: flex;
    justify-content: center;
    overflow: auto;
    scrollbar-width: thin;
    width: 80%;
    height: 30%;
    /* background-color: rgba(0, 0, 0, 0.3); */
}

.inscri table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
}

.inscri table td,
.inscri table th {
    padding: 0 1rem;
}

.inscri table thead {
    height: 40%;
    background-color: #2fbb42;
    color: black;
}

.inscri table tbody {
    background-color: white;
}



.logs {
    border-radius: 15px;
    box-shadow: 0 0 8px 0px rgb(197, 197, 197);
    display: flex;
    justify-content: center;
    overflow: auto;
    scrollbar-width: thin;
    width: 80%;
    height: 30%;
    /* background-color: rgba(0, 0, 0, 0.3); */
}

.logs table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
}

.logs table td,
.logs table th {
    padding: 0 1rem;
}

.logs table thead {
    height: 40%;
    background-color: rgb(255, 242, 167);
    color: black;
}

.logs table tbody {
    background-color: white;
}

@media screen and (orientation: portrait) {
    form {
        width: 22rem;
    }

    #submit {
        width: 27%;
        font-size: 0.8rem;
    }

    #cin {
        width: 60%;
    }

    .search-icon {
        width: 13%;
    }

    .info {
        justify-content: flex-start;
    }

    .info table {
        width: 100%;
    }

    .inscri {
        justify-content: flex-start;
    }

    .inscri table {
        width: 100%;
    }

    .logs {
        justify-content: flex-start;
    }

    .logs table {
        width: 100%;
    }
}