@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: lightgray;
}

.login-div{
    display: flex;
    flex-direction: column;
    min-width: 20rem;
    border: 1px solid black;
    padding: 1rem 0.5rem;
}

.email-div input{
    float: right;
    min-width: 12rem;
    outline: none;
    border: none;
    border-radius: 2px;
    height: 1.2rem;
}

.pass-div input {
    float: right;
    min-width: 12rem;
    outline: none;
    border: none;
    border-radius: 2px;
    height: 1.2rem;
}

.submit-div{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit{
    background-color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    height: 1.5rem;
    width: 6rem;
    box-shadow: 0 3px 0 0 rgb(151, 151, 151);
}

#submit:active{
    transform: translateY(3px);
    box-shadow: none;
}