
main{
    display: flex;
    align-items: center;
    justify-content: center;
}

main h1{
    position: absolute;
    top: 0;
}

.div-table{
    margin-top: 5rem;
    height: 80vh;
    border-radius: 10px;
    overflow-x: auto;
    overflow-y: auto;
    scrollbar-width: thin;
}

.div-table table{
    border: 1px solid white;
}

.table thead{
    background-color: #0f9660;
    color: white;
}

.table th{
    height: 2rem;
    padding: 0 1rem;
}

.table tr:nth-of-type(even){
    background-color: #e2e2e2;
}

.table td{
    padding: 0 1rem;
    text-align: center;
}


.icons{
    width: auto;
    height: 1rem;
}